@tailwind base;
@tailwind components;
@tailwind utilities;

header {
  ul {
    padding: 30px;
    list-style: none;
    height: 100px;
    display: flex;
    align-items: center;
    background: pink;

    li {
      display: inline-block;
      margin-right: 1rem;
      cursor: pointer;
      margin-right: 16px;
      padding: 8px;
      height: 100%;
      display: flex;
      align-items: center;

      &:hover {
        background: palevioletred;
      }
    }
  }
}
